/* nunito-300 - latin_cyrillic */
@font-face {
  font-family: "Nunito";
  font-style: normal;
  font-weight: 300;
  src: local(""),
    url("../fonts/nunito-v20-latin_cyrillic-300.woff2") format("woff2"),
    /* Chrome 26+, Opera 23+, Firefox 39+ */
      url("../fonts/nunito-v20-latin_cyrillic-300.woff") format("woff"); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
/* nunito-600 - latin_cyrillic */
@font-face {
  font-family: "Nunito";
  font-style: normal;
  font-weight: 600;
  src: local(""),
    url("../fonts/nunito-v20-latin_cyrillic-600.woff2") format("woff2"),
    /* Chrome 26+, Opera 23+, Firefox 39+ */
      url("../fonts/nunito-v20-latin_cyrillic-600.woff") format("woff"); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
/* nunito-900 - latin_cyrillic */
@font-face {
  font-family: "Nunito";
  font-style: normal;
  font-weight: 900;
  src: local(""),
    url("../fonts/nunito-v20-latin_cyrillic-900.woff2") format("woff2"),
    /* Chrome 26+, Opera 23+, Firefox 39+ */
      url("../fonts/nunito-v20-latin_cyrillic-900.woff") format("woff"); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}

html {
  box-sizing: border-box;
}

*,
*::after,
*::before {
  box-sizing: inherit;
}

body {
  font-family: Nunito, sans-serif;
  background: #ffffff;
  line-height: 1.5;
  font-size: 18px;
}

button {
  font: inherit;
  cursor: pointer;
  color: #434343;
}

.header {
  background-color: #296c82;
  padding-top: 13px;
  padding-bottom: 13px;
}

.header__container {
  padding: 0 30px;
  max-width: 1140px;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.header__title {
  font-weight: 900;
  font-size: 30px;
  color: #ffffff;
  text-transform: uppercase;
}

.main {
  padding: 60px 30px;
}

.main__title {
  font-weight: 300;
  font-size: 50px;
  text-align: center;
  margin-bottom: 30px;
}

.main__box {
  margin: 0 auto;
  max-width: 800px;
  height: 540px;
  box-shadow: 0px 2px 20px rgba(0, 0, 0, 0.1);
  border-radius: 30px;
}

.main__subtitle {
  font-weight: 300;
  font-size: 26px;
  text-align: center;
  margin-bottom: 60px;
  color: rgb(82, 82, 241);
}

.main__subtitle:hover {
  border-bottom: 1px dotted rgb(82, 82, 241);
}

.main__subtitle-result {
  margin-bottom: 50px;
}

.main__button {
  min-width: 230px;
  height: 50px;
  padding: 0 24px;
  background-color: transparent;
  border: none;
  box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.1);
  border-radius: 8px;
  color: #296c82;
  font-size: 18px;
  display: block;
  margin: 0 auto;
  transition: background-color, color;
  transition-duration: 0.24s;
  transition-timing-function: ease-in-out;
}

.main__button:hover {
  background-color: #296c82;
  color: #ffffff;
}

.selection {
  padding: 50px;
}

.selection__list {
  display: flex;
  flex-direction: column;
  overflow-y: auto;
  max-height: 100%;
  scrollbar-color: rgb(140, 140, 140, 0.1);
  scrollbar-width: thin;
}

.selection__list::-webkit-scrollbar {
  width: 6px;
}

.selection__list::-webkit-scrollbar-thumb {
  background: rgb(140, 140, 140, 0.1);
  border-radius: 8px;
}

.selection__item {
  display: flex;
  margin-bottom: 15px;
}

.selection__item:last-child {
  margin-bottom: 0px;
}

.selection__theme {
  width: 100%;
  max-width: 520px;
  background-color: #f1f9fb;
  border-radius: 12px;
  font-weight: 600;
  font-size: 22px;
  text-align: left;
  border: none;
  padding: 16px 20px;
  overflow: hidden;
}

.selection__theme:hover {
  background-color: #e4f4f8;
}

.selection__theme:not(:last-child) {
  margin-right: 20px;
}

.selection__result {
  width: min-content;
}

.selection__result-ratio {
  display: block;
  text-align: center;
  font-weight: 600;
  font-size: 22px;
  color: #296c82;
}

.selection__result-text {
  display: block;
  font-weight: 300;
  font-size: 12px;
  line-height: 110%;
  text-align: center;
  color: #8c8c8c;
}

.main__box-question {
  padding: 60px 120px;
  height: auto;
  min-height: 540px;
}

.main__form-question {
  position: relative;
}

.main__form-question::after {
  content: attr(data-count);
  position: absolute;
  bottom: 0;
  right: 0;
  font-weight: 300;
  font-size: 18px;
  color: #8c8c8c;
}

.answer {
  position: relative;
  display: block;
  margin-bottom: 26px;
  font-weight: 600;
  font-size: 18px;
  line-height: 40px;
  padding-left: 65px;
  color: rgb(28, 52, 102);
}

.answer__checkbox {
  position: absolute;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  width: 40px;
  height: 40px;
  margin: 0 0 0 -65px;
  color: aqua;
}

.answer__checkbox::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  display: block;
  width: 40px;
  height: 40px;
  background-color: #ffffff;
  box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.15);
  border-radius: 8px;
}

.answer__checkbox::after {
  content: "";
  position: absolute;
  top: 15px;
  left: 12px;
  height: 8px;
  width: 17px;
  border-color: #434343;
  border-style: solid;
  border-width: 0 0 2px 2px;
  transform: rotate(-45deg);
  opacity: 0;
  transition: opacicity 0.24s ease;
}

.answer__checkbox:checked:after {
  opacity: 1;
}

.answer__checkbox:focus:before,
.answer__checkbox:hover:before {
  box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.3);
}

.answer__radio {
  position: absolute;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  width: 40px;
  height: 40px;
  margin: 0 0 0 -65px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.answer__radio::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  display: block;
  width: 40px;
  height: 40px;
  background-color: #ffffff;
  box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.15);
  border-radius: 50%;
}

.answer__radio::after {
  content: "";
  position: relative;
  z-index: inherit;
  height: 14px;
  width: 14px;
  background-color: #434343;
  border-radius: 50%;
  opacity: 0;
  transition: opacicity 0.24s ease;
}

.answer__radio:checked:after {
  opacity: 1;
}

.answer__radio:focus:before,
.answer__radio:hover:before {
  box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.3);
}

.main__form-question__error .answer__checkbox::before,
.main__form-question__error .answer__radio::before {
  animation: blink 0.3s ease-in-out 3;
}

@keyframes blink {
  to {
    box-shadow: 0px 2px 10px rgba(255, 0, 0, 0.55);
  }
}

.main__box-result {
  padding: 60px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.result__box {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: auto;
}

.result__ratio {
  width: 127px;
  height: 127px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #8c8c8c;
  border-radius: 50%;
  color: #ffffff;
  font-weight: 600;
  font-size: 32px;
  margin-bottom: 20px;
}

.result__ratio-1 {
  background: #dc1c1c;
}

.result__ratio-2 {
  background: #efcf24;
}

.result__ratio-3 {
  background: #49f050;
}

.result__text {
  font-weight: 600;
  font-size: 32px;
}

@media (max-width: 1024px) {
  .selection__list {
    padding-right: 30px;
  }

  .selection__theme {
    font-size: 20px;
  }
}

@media (max-width: 768px) {
  .header__container {
    padding: 0 20px;
  }

  .main {
    padding: 40px 20px;
  }

  .main__title {
    font-size: 34px;
  }

  .main__box {
    padding: 40px;
  }

  .selection__list {
    padding-right: 15px;
  }

  .selection__theme {
    font-size: 18px;
    padding: 10px 15px;
  }

  .selection__item {
    margin-bottom: 10px;
  }

  .selection__result-text {
    display: none;
  }

  .selection__result {
    display: flex;
    align-items: center;
  }

  .selection__theme:not(:last-child) {
    margin-right: 15px;
  }
}

@media (max-width: 580px) {
  .main__button:not(.restult__return) {
    margin-left: 0;
    min-width: 100%;
  }

  .main__form-question::after {
    bottom: -35px;
  }

  .main__subtitle {
    font-size: 20px;
  }

  .main {
    padding: 30px 10px;
  }

  .main__box {
    padding: 15px;
    border-radius: 15px;
  }

  .selection__result-ratio {
    font-size: 18px;
  }
}
